.panel.panel-default
  .panel-heading
    %h4= t('.sign_up', :default => "Sign up")
  .panel-body
    = simple_form_for resource, :as => resource_name, :url => registration_path(resource_name), html: { role: "form" } do |f|
      = f.input :first_name, autofocus: true, class: "form-control"
      = f.input :last_name, class: "form-control"
      = f.input :email, as: :email, class: "form-control"
      = f.input :password, as: :password, class: "form-control"
      = f.input :password_confirmation, as: :password, class: "form-control"
      = f.submit t('.sign_up', :default => "Sign up"), class: "btn btn-primary"
