%div.removebutton{class: call_comments_class(comment), id: "comment_#{comment.id}"}
  %div.delte_button
    = link_to t('comment.remove'), worker_comment_url(comment.worker_id, comment), method: :delete,
          data: { confirm: t('comment.confirm') }, class: 'btn btn-danger', style: 'display: none;'
  %article{'data-user-id' => comment.user.id, 'data-possition' => comment.position, 'data-created-at' => comment.created_at}
    %h4= "# #{comment.user.nickname}"
    %p= highlight_links(comment.content)
