%nav.navbar.navbar-default{role: "navigation"}
  %ul.nav.navbar-nav.navbar-right
    - if user_signed_in?
      %li= link_to  "#{t('workers_page')}", root_path
      %li= link_to  "#{t('logout')} #{current_user.nickname}", destroy_user_session_path, method: :delete, class: 'navbar-link'
    - else
      %li= link_to 'Sign up', new_user_registration_path, class: 'navbar-link'
